/*きらっと光る*/

.btnshine {
  /*キラッと光る基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  background: rgb(241, 241, 241);
  color: rgb(62, 62, 62);
  padding: 0px 5px;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  font-size: 13.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.btnshine.red {
  color: brown
}

/*キラッと光る*/
.btnshine::before {
  content: '';
  /*絶対配置でキラッと光るの位置を決める*/
  position: absolute;
  top: 0;
  left: -75%;
  /*キラッと光る形状*/
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-25deg);
}

/*hoverした際の移動のアニメーション*/
.btnshine:hover::before {
  animation: shine 0.7s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}